body {
    background-color: #000;
}
.clock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    background-color: #111;
    color: #ddd;
    padding: 2rem;
}
.clock > section {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000;
    box-shadow: 2px 2px 2px 2px #aaa;    
}
.clock > section > * {
    margin: auto;
}
.clock > .hidden {
    display: none;
}
.clock > .expired {
    color: #f00;
    animation: fadeinout 4s linear 5 forwards;
}
@keyframes fadeinout {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
.clock > section h2{
    font-size: 50vmin;
    min-width: 1em;
}
.clock > section h2.separator {
    min-width: 0.3em;
}
nav.settings {
    display: block;
    margin: auto;
    background-color: #111;
    color: #ddd;
    padding: 1rem;
}
nav.settings input {
    width: 2rem;
}
nav.settings input[name=days] {
    width: 6rem;
}
nav.hidden {
    display: none;
}
